.r { float:right; }
.l { float:left; }

.cB { clear:both; }
.cL { clear:left; }
.cR { clear:right; }

@media print {
	select { display:none; }
}

#dqChar-All { width:100%; }

#stats TD { text-align:right; width:3en; }
#stats TD.stat { text-align:left; font-weight:bold; }
